.card {
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	text-align: center;
	row-gap: 16px;

	* {
		box-sizing: border-box;
	}

	&__figure {
		margin: 0;
	}

	&__img {
		display: block;
		width: 100%;
		aspect-ratio: 256/164;
	}
}
