@use "../functions/clamp-calc" as *;
@use "../mixins/disable-mob-hover" as *;
@use "../mixins/focus" as *;

.contact-list {
	display: grid;
	grid-template-columns: repeat(
		auto-fill,
		(
			minmax(
				var(--item-width, clamp-calc(670px, 1440px, 150px, 240px)),
				1fr
			)
		)
	);
	gap: clamp-calc(590px, 768px, 24px, 32px)
		clamp-calc(590px, 768px, 16px, 24px);
}

.contact {
	display: flex;
	flex-direction: column;
	align-items: start;
	row-gap: 6px;

	&__icon {
		display: flex;
		align-items: center;
		justify-content: center;
		order: -1;
		width: clamp-calc(590px, 1440px, 32px, 64px);
		color: hsl(var(--color-primary-hsl) / var(--alpha, 70%));
		transition: color 0.3s ease;
		aspect-ratio: 1/1;
		margin-block-end: clamp-calc(590px, 768px, 6px, 10px);

		svg {
			width: auto;
			height: auto;
		}
	}

	&__text {
		font-size: 14px;
	}

	@include hover {
		--alpha: 100%;
	}

	@include focus {
		outline: var(--color-primary) dashed 2px;
		outline-offset: 10px;
	}
}
