@use "../mixins/disable-mob-hover" as *;

.desc {
	display: flex;
	flex-direction: column;
	line-height: 1.33;
	row-gap: 12px;

	p {
		margin-block: 0;
	}

	a {
		text-decoration: underline;
		text-underline-position: from-font;
		color: hsl(var(--color-primary-hsl) / var(--alpha, 80%));
		transition: color 0.3s ease;
		text-underline-offset: 2px;

		@include hover {
			--alpha: 60%;
		}
	}
}
