@use "../functions/clamp-calc" as *;
@use "../mixins/disable-mob-hover" as *;
@use "../mixins/breakpoint" as mq;

.project-cards {
	display: grid;
	grid-template-columns: repeat(
		auto-fill,
		minmax(var(--item-width, clamp-calc(768px, 1440px, 260px, 320px)), 1fr)
	);
	gap: clamp-calc(590px, 1440px, 18px, 32px);
}

.project-card {
	--min-height: #{clamp-calc(1024px, 1440px, 420px, 512px)};
	--padding-block: #{clamp-calc(1024px, 1440px, 24px, 32px)};
	--padding-inline: #{clamp-calc(1024px, 1440px, 20px, 24px)};
	--row-gap: #{clamp-calc(1024px, 1440px, 12px, 16px)};

	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	overflow: hidden;
	overflow: clip;
	min-height: var(--min-height);
	color: #fff;
	padding-block: var(--padding-block);
	padding-inline: var(--padding-inline);

	&__content {
		display: flex;
		flex-direction: column;
		align-items: start;
		transition: translate 0.3s ease;
		row-gap: var(--row-gap);
	}

	@include mq.above-tablet {
		@media (hover: hover) {
			&__content {
				translate: 0 calc(var(--row-gap) + 32px);
			}

			&__button {
				opacity: 0;
				transition: opacity 0.3s ease;
			}

			&:is(&:hover, :has(:is(&__button, &__link):focus-visible)) {
				--scale: 1.08;
			}

			&:is(&:hover, :has(:is(&__button, &__link):focus-visible))
				&__content {
				translate: 0 0;
			}

			&:is(&:hover, :has(:is(&__button, &__link):focus-visible))
				&__button {
				opacity: 1;
			}
		}
	}

	&__tags {
		display: flex;
		flex-wrap: wrap;
		order: -1;
		gap: 8px;
	}

	&__picture {
		position: absolute;
		inset: 0;
		z-index: -1;
		width: 100%;
		height: 100%;

		&::after {
			content: "";
			position: absolute;
			inset: 0;
			background: linear-gradient(
				14deg,
				rgba(76, 33, 16, 0.8) 0%,
				rgba(254, 153, 114, 0) 100%
			);
		}
	}

	&__img {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;
		transition: scale 0.3s ease;
		scale: var(--scale, revert);
	}

	&__desc {
		line-height: 1.4;

		p {
			display: -webkit-box;
			overflow: hidden;
			-webkit-box-orient: vertical;
			-webkit-line-clamp: 10;
		}
	}
}
