@use "../functions/clamp-calc" as *;
@use "../mixins/breakpoint" as mq;

.section-team {
	display: flex;
	flex-direction: row;
	align-items: center;
	overflow-x: hidden;
	overflow-x: clip;

	@include mq.above-mobile {
		min-height: 100vh;
		min-height: 100svh;
	}

	@include mq.mobile {
		flex-direction: column;
		padding-block: 36px;
		row-gap: 32px;
	}

	&__content {
		display: flex;
		flex-direction: column;
		align-self: center;
		row-gap: 16px;

		@include mq.above-mobile {
			flex-shrink: 0;
			padding-inline: var(--container)
				clamp-calc(1024px, 1440px, 150px, 300px);
		}

		@include mq.mobile {
			padding-inline: var(--container);
		}
	}

	&__members {
		z-index: 1;
		padding-inline-end: var(--container);
	}
}
